.env
venv/
.kaggle/
.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.egg
*.egg-info/
dist/
build/
.eggs/
*.egg-info/
.installed.cfg
*.egg
PPTs/
Extra/